/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/


body {

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  padding: 0px;
}

body {


}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header_wrap, #footer_wrap {
  background-color: #292c38;
  padding: 40px;
  color: #eee;
}

header.inner, #main_content_wrap, footer.inner, .jumbotron {
  width: 800px;
  margin: auto;
}

#jumbotron_wrap {
  background-color: #363b48;
  padding: 40px;
  color: #eee;
}

#footer_wrap {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  background-color: #363b48;
  border-top: 1px solid rgba(255,255,255,.1);
  width: calc(100% - 20px);
  color: #fff;
}
footer a {
  color: #eee;
}

.code {
  font-family: monospace;
  background-color: #444;
  color: #fff;
  margin: auto;
  border: 1px solid #111;
  margin-bottom: 10px;
  width: 400px;
  font-size: 12px;
  border-radius: 1px;
  line-height: 1.5;
  overflow: scroll;
}
.code pre {
  padding: 8px;
}


/* Widgets */
.plw-hidden {
  display: none !important;
}
.pointslocal-widget {

  margin: auto;
  border: 1px solid #C3CDE6;
  border-radius: 1px;
}
.pointslocal-widget-rail {
  width: 320px;
}
.plw-item {
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #C3CDE6;
  display: flex;
  flex-direction: row;
}

.plw-row {
  display: flex;
  flex-direction: row;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  width: 100%;
justify-content: flex-start;
position: relative;
}
.plw-row--center {
  align-items: center;
}
.plw-row-reverse {
   flex-direction: row-reverse;
}
.plw-cell--12-col {
      width: calc(100% - 16px);
}
.plw-cell--11-col {
  width: calc(91.6666666667% - 16px);
}
.plw-cell--10-col {
  width: calc(83.3333333333% - 16px);
}
.plw-cell--9-col {
    width: calc(75% - 16px);
}
.plw-cell--8-col {
    width: calc(66.6666666667% - 16px);
}
.plw-cell--7-col {
  width: calc(58.3333333333% - 16px);
}
.plw-cell--6-col {
      width: calc(50% - 16px);
}
.plw-cell--5-col {
    width: calc(41.6666666667% - 16px);
}
.plw-cell--4-col {
width: calc(33.3333333333% - 16px);
}
.plw-cell--3-col {
    width: calc(25% - 16px);
}
.plw-cell--2-col {
      width: calc(16.6666666667% - 16px);
}
.plw-cell--1-col {
  width: calc(8.3333333333% - 16px);
}
.plw-cell {
  margin: 8px;

}
.plw-cell--hidden {
  display: none;
}


.plw-cell-item {
  position: relative;
}
.plw-ribbon-container {
  z-index: 9999;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  background-color: rgba(255,255,255,.8);
  padding: 4px;
}
.plw-ribbon {
  background-color: rgba(250,180,80,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-ribbon.pick {
  background-color: rgba(80,180,250,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-search {
  background-color: #eee;

}
.plw-pseudo-drop, .plw-textbox, .plw-pseudo-drop-options, .plw-button, .plw-pseudo-drop-inner {
  outline: none;
  border: 1px solid rgba(0,0,0,.5);
  padding: 4px;
  display: inline-block;
  border-radius: 1px;

  font-size: 14px;
  text-transform: uppercase;
}
.plw-pseudo-drop {
  width: calc(100% - 16px);
}
.plw-pseudo-drop-inner, .plw-button {
  padding-left: 12px;
  padding-right: 12px;

  text-align: center;
}
.plw-pseudo-drop-inner {
  width: calc(100% - 24px);
}
.pl-pseudo-drop-inner i {
  float:right;
}
.plw-pseudo-drop {
  padding: 0px;
  position: relative;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-weight: bold;
}
.plw-pseudo-drop-inner {
  border: none;


}
.plw-pseudo-drop i {
  line-height: 13px;
  margin-left: 5px;
  vertical-align: bottom;
  display: inline-block;
  transition: 100ms all ease-in;
}
.plw-pseudo-drop-inner.active {
  background-color: #fff;
}
.plw-pseudo-drop-inner.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.plw-pseudo-drop:hover {
  background-color: #adb6cc;
}
.plw-pseudo-drop-inner.active + .plw-pseudo-drop-options {
  display: block;
}
.plw-pseudo-drop-options {
  cursor: default;
  display: none;
  border-top: none;
  position: absolute;
  padding: 0px;
  top: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,.98);
  left: -1px;
  width: 200%;
}
.plw-pseudo-drop-options ul {
  max-height: 200px;
  overflow-y: scroll;
}
.plw-pseudo-drop-options li {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #eee;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
}
.plw-pseudo-drop-options li:hover {
  background-color: #eee;
}
.plw-pseudo-drop-options li i {

  vertical-align: middle;
}

.plw-textbox {
  text-transform: none;
  width: 100%;
}
.plw-button {
  background-color: #000;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  transition: 200ms all ease-in;

}
.plw-button, .plw-textbox {
    height: 22px;
  line-height: 26px;
}
.plw-button:hover {
  background-color: #333;
}
.plw-item-card {
  position: absolute;
  background-color: rgba(20,20,20,.8);
  color: #fff;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: calc(100% - 20px);
}
.plw-item .plw-item-title {
  font-family: 'Lato';
  font-weight: 800;
  font-size: 20px;
}
.plw-item-card-mini {
  font-size: 12px;  
}
.plw-item-card-mini .plw-item-title {
  font-size: 16px;
  font-weight: 400;
}
.plw-item-card .plw-item-title {
  color: #fff !important;
}
.plw-item a.plw-item-title {
  color: #333;
}
.plw-cell {
  position: relative;

}
.plw-cell .plw-item-card {
  bottom: 16px;
}
.plw-cell img {
  max-width: 100%;
}
.plw-item-meta {
  font-size: 12px;
}


.plw-gp-scoreboard {
  border: 1px solid #333;
}
.plw-gp-scoreboard-game {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.plw-gp-header {
  font-weight:bold;
}
.plw-gp-date {
  font-size: 12px;
}

.plw-metadata {
  font-size: 12px;
}

/* jquery ui */

.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-calendar td {
text-align: center;
}
.ui-datepicker-calendar th {
  font-size: 12px;
  padding: 4px;
}
.ui-datepicker-calendar td a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #eee;
  font-size: 12px;
}
.ui-datepicker-calendar td a:hover {
  background-color: #eee;
}
.ui-datepicker-header {
  background-color: #ccc;
  padding: 8px; 
}
.ui-datepicker-prev, .ui-datepicker-next {
  font-size: 0px;
}
.ui-datepicker-prev, .ui-state-hover .ui-datepicker-prev {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgc3R5bGU9ImZpbGw6ICNmZmZmZmYiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQyNyAzMDFsLTUzMSA1MzEgNTMxIDUzMXExOSAxOSAxOSA0NXQtMTkgNDVsLTE2NiAxNjZxLTE5IDE5LTQ1IDE5dC00NS0xOWwtNzQyLTc0MnEtMTktMTktMTktNDV0MTktNDVsNzQyLTc0MnExOS0xOSA0NS0xOXQ0NSAxOWwxNjYgMTY2cTE5IDE5IDE5IDQ1dC0xOSA0NXoiLz48L3N2Zz4=) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.ui-datepicker-next, .ui-state-hover .ui-datepicker-next {
  float: right;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgc3R5bGU9ImZpbGw6ICNmZmZmZmYiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTM2MyA4NzdsLTc0MiA3NDJxLTE5IDE5LTQ1IDE5dC00NS0xOWwtMTY2LTE2NnEtMTktMTktMTktNDV0MTktNDVsNTMxLTUzMS01MzEtNTMxcS0xOS0xOS0xOS00NXQxOS00NWwxNjYtMTY2cTE5LTE5IDQ1LTE5dDQ1IDE5bDc0MiA3NDJxMTkgMTkgMTkgNDV0LTE5IDQ1eiIvPjwvc3ZnPg==) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}


/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
* NOTE: Some rules here are applied using duplicate selectors.
* This is on purpose to increase their specificity when applied.
* For example: `.plw-cell--1-col-phone.plw-cell--1-col-phone`
*/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables
 * -----Typography
 * -----Colors
 * -----Textfield
 * -----Switch
 * -----Spinner
 * -----Radio
 * -----Menu
 * -----List
 * -----Layout
 * -----Icon toggles
 * -----Footer
 * -----Column
 * -----Checkbox
 * -----Card
 * -----Button
 * -----Animation
 * -----Progress
 * -----Badge
 * -----Shadows
 * -----Grid
 * -----Data table
 * -----Dialog
 * -----Snackbar
 * -----Tooltip
 * -----Chip
 *
 * Even though all variables have the `!default` directive, most of them
 * should not be changed as they are dependent one another. This can cause
 * visual distortions (like alignment issues) that are hard to track down
 * and fix.
 */
/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
/* ==========  COLORS  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  IMAGES  ========== */
/* ==========  Color & Themes  ========== */
/* ==========  Typography  ========== */
/* ==========  Components  ========== */
/* ==========  Standard Buttons  ========== */
/* ==========  Icon Toggles  ========== */
/* ==========  Radio Buttons  ========== */
/* ==========  Ripple effect  ========== */
/* ==========  Layout  ========== */
/* ==========  Content Tabs  ========== */
/* ==========  Checkboxes  ========== */
/* ==========  Switches  ========== */
/* ==========  Spinner  ========== */
/* ==========  Text fields  ========== */
/* ==========  Card  ========== */
/* ==========  Sliders ========== */
/* ========== Progress ========== */
/* ==========  List ========== */
/* ==========  Item ========== */
/* ==========  Dropdown menu ========== */
/* ==========  Tooltips  ========== */
/* ==========  Footer  ========== */
/* TEXTFIELD */
/* SWITCH */
/* SPINNER */
/* RADIO */
/* MENU */
/* LIST */
/* LAYOUT */
/* ICON TOGGLE */
/* FOOTER */
/*mega-footer*/
/*mini-footer*/
/* CHECKBOX */
/* CARD */
/* Card dimensions */
/* Cover image */
/* BUTTON */
/**
 *
 * Dimensions
 *
 */
/* ANIMATION */
/* PROGRESS */
/* BADGE */
/* SHADOWS */
/* GRID */
/* DATA TABLE */
/* DIALOG */
/* SNACKBAR */
/* TOOLTIP */
/* CHIP */
.plw-grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch; }
  .plw-grid.plw-grid--no-spacing {
    padding: 0; }

.plw-cell {
  box-sizing: border-box; }

.plw-cell--top {
  align-self: flex-start; }

.plw-cell--middle {
  align-self: center; }

.plw-cell--bottom {
  align-self: flex-end; }

.plw-cell--stretch {
  align-self: stretch; }

.plw-grid.plw-grid--no-spacing > .plw-cell {
  margin: 0; }

.plw-cell--order-1 {
  order: 1; }

.plw-cell--order-2 {
  order: 2; }

.plw-cell--order-3 {
  order: 3; }

.plw-cell--order-4 {
  order: 4; }

.plw-cell--order-5 {
  order: 5; }

.plw-cell--order-6 {
  order: 6; }

.plw-cell--order-7 {
  order: 7; }

.plw-cell--order-8 {
  order: 8; }

.plw-cell--order-9 {
  order: 9; }

.plw-cell--order-10 {
  order: 10; }

.plw-cell--order-11 {
  order: 11; }

.plw-cell--order-12 {
  order: 12; }

@media (max-width: 479px) {
  .plw-grid {
    padding: 8px; }

  .plw-cell {
    margin: 8px;
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell {
      width: 100%; }

  .plw-cell--hide-phone {
    display: none !important; }

  .plw-cell--order-1-phone.plw-cell--order-1-phone {
    order: 1; }

  .plw-cell--order-2-phone.plw-cell--order-2-phone {
    order: 2; }

  .plw-cell--order-3-phone.plw-cell--order-3-phone {
    order: 3; }

  .plw-cell--order-4-phone.plw-cell--order-4-phone {
    order: 4; }

  .plw-cell--order-5-phone.plw-cell--order-5-phone {
    order: 5; }

  .plw-cell--order-6-phone.plw-cell--order-6-phone {
    order: 6; }

  .plw-cell--order-7-phone.plw-cell--order-7-phone {
    order: 7; }

  .plw-cell--order-8-phone.plw-cell--order-8-phone {
    order: 8; }

  .plw-cell--order-9-phone.plw-cell--order-9-phone {
    order: 9; }

  .plw-cell--order-10-phone.plw-cell--order-10-phone {
    order: 10; }

  .plw-cell--order-11-phone.plw-cell--order-11-phone {
    order: 11; }

  .plw-cell--order-12-phone.plw-cell--order-12-phone {
    order: 12; }

  .plw-cell--1-col,
  .plw-cell--1-col-phone.plw-cell--1-col-phone {
    width: calc(25% - 16px); }
    .plw-grid--no-spacing > .plw-cell--1-col, .plw-grid--no-spacing >
    .plw-cell--1-col-phone.plw-cell--1-col-phone {
      width: 25%; }

  .plw-cell--2-col,
  .plw-cell--2-col-phone.plw-cell--2-col-phone {
    width: calc(50% - 16px); }
    .plw-grid--no-spacing > .plw-cell--2-col, .plw-grid--no-spacing >
    .plw-cell--2-col-phone.plw-cell--2-col-phone {
      width: 50%; }

  .plw-cell--3-col,
  .plw-cell--3-col-phone.plw-cell--3-col-phone {
    width: calc(75% - 16px); }
    .plw-grid--no-spacing > .plw-cell--3-col, .plw-grid--no-spacing >
    .plw-cell--3-col-phone.plw-cell--3-col-phone {
      width: 75%; }

  .plw-cell--4-col,
  .plw-cell--4-col-phone.plw-cell--4-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--4-col, .plw-grid--no-spacing >
    .plw-cell--4-col-phone.plw-cell--4-col-phone {
      width: 100%; }

  .plw-cell--5-col,
  .plw-cell--5-col-phone.plw-cell--5-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--5-col, .plw-grid--no-spacing >
    .plw-cell--5-col-phone.plw-cell--5-col-phone {
      width: 100%; }

  .plw-cell--6-col,
  .plw-cell--6-col-phone.plw-cell--6-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--6-col, .plw-grid--no-spacing >
    .plw-cell--6-col-phone.plw-cell--6-col-phone {
      width: 100%; }

  .plw-cell--7-col,
  .plw-cell--7-col-phone.plw-cell--7-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--7-col, .plw-grid--no-spacing >
    .plw-cell--7-col-phone.plw-cell--7-col-phone {
      width: 100%; }

  .plw-cell--8-col,
  .plw-cell--8-col-phone.plw-cell--8-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--8-col, .plw-grid--no-spacing >
    .plw-cell--8-col-phone.plw-cell--8-col-phone {
      width: 100%; }

  .plw-cell--9-col,
  .plw-cell--9-col-phone.plw-cell--9-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--9-col, .plw-grid--no-spacing >
    .plw-cell--9-col-phone.plw-cell--9-col-phone {
      width: 100%; }

  .plw-cell--10-col,
  .plw-cell--10-col-phone.plw-cell--10-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--10-col, .plw-grid--no-spacing >
    .plw-cell--10-col-phone.plw-cell--10-col-phone {
      width: 100%; }

  .plw-cell--11-col,
  .plw-cell--11-col-phone.plw-cell--11-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--11-col, .plw-grid--no-spacing >
    .plw-cell--11-col-phone.plw-cell--11-col-phone {
      width: 100%; }

  .plw-cell--12-col,
  .plw-cell--12-col-phone.plw-cell--12-col-phone {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--12-col, .plw-grid--no-spacing >
    .plw-cell--12-col-phone.plw-cell--12-col-phone {
      width: 100%; }

  .plw-cell--1-offset,
  .plw-cell--1-offset-phone.plw-cell--1-offset-phone {
    margin-left: calc(25% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--1-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--1-offset-phone.plw-cell--1-offset-phone {
      margin-left: 25%; }

  .plw-cell--2-offset,
  .plw-cell--2-offset-phone.plw-cell--2-offset-phone {
    margin-left: calc(50% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--2-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--2-offset-phone.plw-cell--2-offset-phone {
      margin-left: 50%; }

  .plw-cell--3-offset,
  .plw-cell--3-offset-phone.plw-cell--3-offset-phone {
    margin-left: calc(75% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--3-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--3-offset-phone.plw-cell--3-offset-phone {
      margin-left: 75%; } }
@media (min-width: 480px) and (max-width: 839px) {
  .plw-grid {
    padding: 8px; }

  .plw-cell {
    margin: 8px;
    width: calc(50% - 16px); }
    .plw-grid--no-spacing > .plw-cell {
      width: 50%; }

  .plw-cell--hide-tablet {
    display: none !important; }

  .plw-cell--order-1-tablet.plw-cell--order-1-tablet {
    order: 1; }

  .plw-cell--order-2-tablet.plw-cell--order-2-tablet {
    order: 2; }

  .plw-cell--order-3-tablet.plw-cell--order-3-tablet {
    order: 3; }

  .plw-cell--order-4-tablet.plw-cell--order-4-tablet {
    order: 4; }

  .plw-cell--order-5-tablet.plw-cell--order-5-tablet {
    order: 5; }

  .plw-cell--order-6-tablet.plw-cell--order-6-tablet {
    order: 6; }

  .plw-cell--order-7-tablet.plw-cell--order-7-tablet {
    order: 7; }

  .plw-cell--order-8-tablet.plw-cell--order-8-tablet {
    order: 8; }

  .plw-cell--order-9-tablet.plw-cell--order-9-tablet {
    order: 9; }

  .plw-cell--order-10-tablet.plw-cell--order-10-tablet {
    order: 10; }

  .plw-cell--order-11-tablet.plw-cell--order-11-tablet {
    order: 11; }

  .plw-cell--order-12-tablet.plw-cell--order-12-tablet {
    order: 12; }

  .plw-cell--1-col,
  .plw-cell--1-col-tablet.plw-cell--1-col-tablet {
    width: calc(12.5% - 16px); }
    .plw-grid--no-spacing > .plw-cell--1-col, .plw-grid--no-spacing >
    .plw-cell--1-col-tablet.plw-cell--1-col-tablet {
      width: 12.5%; }

  .plw-cell--2-col,
  .plw-cell--2-col-tablet.plw-cell--2-col-tablet {
    width: calc(25% - 16px); }
    .plw-grid--no-spacing > .plw-cell--2-col, .plw-grid--no-spacing >
    .plw-cell--2-col-tablet.plw-cell--2-col-tablet {
      width: 25%; }

  .plw-cell--3-col,
  .plw-cell--3-col-tablet.plw-cell--3-col-tablet {
    width: calc(37.5% - 16px); }
    .plw-grid--no-spacing > .plw-cell--3-col, .plw-grid--no-spacing >
    .plw-cell--3-col-tablet.plw-cell--3-col-tablet {
      width: 37.5%; }

  .plw-cell--4-col,
  .plw-cell--4-col-tablet.plw-cell--4-col-tablet {
    width: calc(50% - 16px); }
    .plw-grid--no-spacing > .plw-cell--4-col, .plw-grid--no-spacing >
    .plw-cell--4-col-tablet.plw-cell--4-col-tablet {
      width: 50%; }

  .plw-cell--5-col,
  .plw-cell--5-col-tablet.plw-cell--5-col-tablet {
    width: calc(62.5% - 16px); }
    .plw-grid--no-spacing > .plw-cell--5-col, .plw-grid--no-spacing >
    .plw-cell--5-col-tablet.plw-cell--5-col-tablet {
      width: 62.5%; }

  .plw-cell--6-col,
  .plw-cell--6-col-tablet.plw-cell--6-col-tablet {
    width: calc(75% - 16px); }
    .plw-grid--no-spacing > .plw-cell--6-col, .plw-grid--no-spacing >
    .plw-cell--6-col-tablet.plw-cell--6-col-tablet {
      width: 75%; }

  .plw-cell--7-col,
  .plw-cell--7-col-tablet.plw-cell--7-col-tablet {
    width: calc(87.5% - 16px); }
    .plw-grid--no-spacing > .plw-cell--7-col, .plw-grid--no-spacing >
    .plw-cell--7-col-tablet.plw-cell--7-col-tablet {
      width: 87.5%; }

  .plw-cell--8-col,
  .plw-cell--8-col-tablet.plw-cell--8-col-tablet {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--8-col, .plw-grid--no-spacing >
    .plw-cell--8-col-tablet.plw-cell--8-col-tablet {
      width: 100%; }

  .plw-cell--9-col,
  .plw-cell--9-col-tablet.plw-cell--9-col-tablet {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--9-col, .plw-grid--no-spacing >
    .plw-cell--9-col-tablet.plw-cell--9-col-tablet {
      width: 100%; }

  .plw-cell--10-col,
  .plw-cell--10-col-tablet.plw-cell--10-col-tablet {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--10-col, .plw-grid--no-spacing >
    .plw-cell--10-col-tablet.plw-cell--10-col-tablet {
      width: 100%; }

  .plw-cell--11-col,
  .plw-cell--11-col-tablet.plw-cell--11-col-tablet {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--11-col, .plw-grid--no-spacing >
    .plw-cell--11-col-tablet.plw-cell--11-col-tablet {
      width: 100%; }

  .plw-cell--12-col,
  .plw-cell--12-col-tablet.plw-cell--12-col-tablet {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--12-col, .plw-grid--no-spacing >
    .plw-cell--12-col-tablet.plw-cell--12-col-tablet {
      width: 100%; }

  .plw-cell--1-offset,
  .plw-cell--1-offset-tablet.plw-cell--1-offset-tablet {
    margin-left: calc(12.5% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--1-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--1-offset-tablet.plw-cell--1-offset-tablet {
      margin-left: 12.5%; }

  .plw-cell--2-offset,
  .plw-cell--2-offset-tablet.plw-cell--2-offset-tablet {
    margin-left: calc(25% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--2-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--2-offset-tablet.plw-cell--2-offset-tablet {
      margin-left: 25%; }

  .plw-cell--3-offset,
  .plw-cell--3-offset-tablet.plw-cell--3-offset-tablet {
    margin-left: calc(37.5% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--3-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--3-offset-tablet.plw-cell--3-offset-tablet {
      margin-left: 37.5%; }

  .plw-cell--4-offset,
  .plw-cell--4-offset-tablet.plw-cell--4-offset-tablet {
    margin-left: calc(50% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--4-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--4-offset-tablet.plw-cell--4-offset-tablet {
      margin-left: 50%; }

  .plw-cell--5-offset,
  .plw-cell--5-offset-tablet.plw-cell--5-offset-tablet {
    margin-left: calc(62.5% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--5-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--5-offset-tablet.plw-cell--5-offset-tablet {
      margin-left: 62.5%; }

  .plw-cell--6-offset,
  .plw-cell--6-offset-tablet.plw-cell--6-offset-tablet {
    margin-left: calc(75% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--6-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--6-offset-tablet.plw-cell--6-offset-tablet {
      margin-left: 75%; }

  .plw-cell--7-offset,
  .plw-cell--7-offset-tablet.plw-cell--7-offset-tablet {
    margin-left: calc(87.5% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--7-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--7-offset-tablet.plw-cell--7-offset-tablet {
      margin-left: 87.5%; } }
@media (min-width: 840px) {
  .plw-grid {
    padding: 8px; }

  .plw-cell {
    margin: 8px;
    width: calc(33.33333% - 16px); }
    .plw-grid--no-spacing > .plw-cell {
      width: 33.33333%; }

  .plw-cell--hide-desktop {
    display: none !important; }

  .plw-cell--order-1-desktop.plw-cell--order-1-desktop {
    order: 1; }

  .plw-cell--order-2-desktop.plw-cell--order-2-desktop {
    order: 2; }

  .plw-cell--order-3-desktop.plw-cell--order-3-desktop {
    order: 3; }

  .plw-cell--order-4-desktop.plw-cell--order-4-desktop {
    order: 4; }

  .plw-cell--order-5-desktop.plw-cell--order-5-desktop {
    order: 5; }

  .plw-cell--order-6-desktop.plw-cell--order-6-desktop {
    order: 6; }

  .plw-cell--order-7-desktop.plw-cell--order-7-desktop {
    order: 7; }

  .plw-cell--order-8-desktop.plw-cell--order-8-desktop {
    order: 8; }

  .plw-cell--order-9-desktop.plw-cell--order-9-desktop {
    order: 9; }

  .plw-cell--order-10-desktop.plw-cell--order-10-desktop {
    order: 10; }

  .plw-cell--order-11-desktop.plw-cell--order-11-desktop {
    order: 11; }

  .plw-cell--order-12-desktop.plw-cell--order-12-desktop {
    order: 12; }

  .plw-cell--1-col,
  .plw-cell--1-col-desktop.plw-cell--1-col-desktop {
    width: calc(8.33333% - 16px); }
    .plw-grid--no-spacing > .plw-cell--1-col, .plw-grid--no-spacing >
    .plw-cell--1-col-desktop.plw-cell--1-col-desktop {
      width: 8.33333%; }

  .plw-cell--2-col,
  .plw-cell--2-col-desktop.plw-cell--2-col-desktop {
    width: calc(16.66667% - 16px); }
    .plw-grid--no-spacing > .plw-cell--2-col, .plw-grid--no-spacing >
    .plw-cell--2-col-desktop.plw-cell--2-col-desktop {
      width: 16.66667%; }

  .plw-cell--3-col,
  .plw-cell--3-col-desktop.plw-cell--3-col-desktop {
    width: calc(25% - 16px); }
    .plw-grid--no-spacing > .plw-cell--3-col, .plw-grid--no-spacing >
    .plw-cell--3-col-desktop.plw-cell--3-col-desktop {
      width: 25%; }

  .plw-cell--4-col,
  .plw-cell--4-col-desktop.plw-cell--4-col-desktop {
    width: calc(33.33333% - 16px); }
    .plw-grid--no-spacing > .plw-cell--4-col, .plw-grid--no-spacing >
    .plw-cell--4-col-desktop.plw-cell--4-col-desktop {
      width: 33.33333%; }

  .plw-cell--5-col,
  .plw-cell--5-col-desktop.plw-cell--5-col-desktop {
    width: calc(41.66667% - 16px); }
    .plw-grid--no-spacing > .plw-cell--5-col, .plw-grid--no-spacing >
    .plw-cell--5-col-desktop.plw-cell--5-col-desktop {
      width: 41.66667%; }

  .plw-cell--6-col,
  .plw-cell--6-col-desktop.plw-cell--6-col-desktop {
    width: calc(50% - 16px); }
    .plw-grid--no-spacing > .plw-cell--6-col, .plw-grid--no-spacing >
    .plw-cell--6-col-desktop.plw-cell--6-col-desktop {
      width: 50%; }

  .plw-cell--7-col,
  .plw-cell--7-col-desktop.plw-cell--7-col-desktop {
    width: calc(58.33333% - 16px); }
    .plw-grid--no-spacing > .plw-cell--7-col, .plw-grid--no-spacing >
    .plw-cell--7-col-desktop.plw-cell--7-col-desktop {
      width: 58.33333%; }

  .plw-cell--8-col,
  .plw-cell--8-col-desktop.plw-cell--8-col-desktop {
    width: calc(66.66667% - 16px); }
    .plw-grid--no-spacing > .plw-cell--8-col, .plw-grid--no-spacing >
    .plw-cell--8-col-desktop.plw-cell--8-col-desktop {
      width: 66.66667%; }

  .plw-cell--9-col,
  .plw-cell--9-col-desktop.plw-cell--9-col-desktop {
    width: calc(75% - 16px); }
    .plw-grid--no-spacing > .plw-cell--9-col, .plw-grid--no-spacing >
    .plw-cell--9-col-desktop.plw-cell--9-col-desktop {
      width: 75%; }

  .plw-cell--10-col,
  .plw-cell--10-col-desktop.plw-cell--10-col-desktop {
    width: calc(83.33333% - 16px); }
    .plw-grid--no-spacing > .plw-cell--10-col, .plw-grid--no-spacing >
    .plw-cell--10-col-desktop.plw-cell--10-col-desktop {
      width: 83.33333%; }

  .plw-cell--11-col,
  .plw-cell--11-col-desktop.plw-cell--11-col-desktop {
    width: calc(91.66667% - 16px); }
    .plw-grid--no-spacing > .plw-cell--11-col, .plw-grid--no-spacing >
    .plw-cell--11-col-desktop.plw-cell--11-col-desktop {
      width: 91.66667%; }

  .plw-cell--12-col,
  .plw-cell--12-col-desktop.plw-cell--12-col-desktop {
    width: calc(100% - 16px); }
    .plw-grid--no-spacing > .plw-cell--12-col, .plw-grid--no-spacing >
    .plw-cell--12-col-desktop.plw-cell--12-col-desktop {
      width: 100%; }

  .plw-cell--1-offset,
  .plw-cell--1-offset-desktop.plw-cell--1-offset-desktop {
    margin-left: calc(8.33333% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--1-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--1-offset-desktop.plw-cell--1-offset-desktop {
      margin-left: 8.33333%; }

  .plw-cell--2-offset,
  .plw-cell--2-offset-desktop.plw-cell--2-offset-desktop {
    margin-left: calc(16.66667% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--2-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--2-offset-desktop.plw-cell--2-offset-desktop {
      margin-left: 16.66667%; }

  .plw-cell--3-offset,
  .plw-cell--3-offset-desktop.plw-cell--3-offset-desktop {
    margin-left: calc(25% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--3-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--3-offset-desktop.plw-cell--3-offset-desktop {
      margin-left: 25%; }

  .plw-cell--4-offset,
  .plw-cell--4-offset-desktop.plw-cell--4-offset-desktop {
    margin-left: calc(33.33333% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--4-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--4-offset-desktop.plw-cell--4-offset-desktop {
      margin-left: 33.33333%; }

  .plw-cell--5-offset,
  .plw-cell--5-offset-desktop.plw-cell--5-offset-desktop {
    margin-left: calc(41.66667% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--5-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--5-offset-desktop.plw-cell--5-offset-desktop {
      margin-left: 41.66667%; }

  .plw-cell--6-offset,
  .plw-cell--6-offset-desktop.plw-cell--6-offset-desktop {
    margin-left: calc(50% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--6-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--6-offset-desktop.plw-cell--6-offset-desktop {
      margin-left: 50%; }

  .plw-cell--7-offset,
  .plw-cell--7-offset-desktop.plw-cell--7-offset-desktop {
    margin-left: calc(58.33333% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--7-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--7-offset-desktop.plw-cell--7-offset-desktop {
      margin-left: 58.33333%; }

  .plw-cell--8-offset,
  .plw-cell--8-offset-desktop.plw-cell--8-offset-desktop {
    margin-left: calc(66.66667% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--8-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--8-offset-desktop.plw-cell--8-offset-desktop {
      margin-left: 66.66667%; }

  .plw-cell--9-offset,
  .plw-cell--9-offset-desktop.plw-cell--9-offset-desktop {
    margin-left: calc(75% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--9-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--9-offset-desktop.plw-cell--9-offset-desktop {
      margin-left: 75%; }

  .plw-cell--10-offset,
  .plw-cell--10-offset-desktop.plw-cell--10-offset-desktop {
    margin-left: calc(83.33333% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--10-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--10-offset-desktop.plw-cell--10-offset-desktop {
      margin-left: 83.33333%; }

  .plw-cell--11-offset,
  .plw-cell--11-offset-desktop.plw-cell--11-offset-desktop {
    margin-left: calc(91.66667% + 8px); }
    .plw-grid.plw-grid--no-spacing > .plw-cell--11-offset, .plw-grid.plw-grid--no-spacing >
    .plw-cell--11-offset-desktop.plw-cell--11-offset-desktop {
      margin-left: 91.66667%; } }

/*# sourceMappingURL=grid.css.map */




@media (max-width: 479px) {
  #header_wrap, #footer_wrap, #jumbotron_wrap { 
    padding: 20px;
    font-size: 16px;
  }
  header.inner, #main_content_wrap, footer.inner, .jumbotron, .code {
    width: 100%;
    margin: auto;
  }
  .plw-cell--4-col-phone {
    width: calc(100% - 16px);
  }
  .plw-cell--3-col-phone {
    width: calc(75% - 16px);
  }
  .plw-cell--2-col-phone {
    width: calc(50% - 16px);
  }
  .plw-cell--1-col-phone {
    width: calc(25% - 16px);
  }
  .plw-cell--hidden-phone, .plw--hidden-phone {
    display: none;
  }
  .plw-ribbon-container {
    bottom: 0px;
    top: auto;
  }
}