/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/


body {

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  padding: 0px;
}

body {


}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header_wrap, #footer_wrap {
  background-color: #292c38;
  padding: 40px;
  color: #eee;
}

header.inner, #main_content_wrap, footer.inner, .jumbotron {
  width: 800px;
  margin: auto;
}

#jumbotron_wrap {
  background-color: #363b48;
  padding: 40px;
  color: #eee;
}

#footer_wrap {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  background-color: #363b48;
  border-top: 1px solid rgba(255,255,255,.1);
  width: calc(100% - 20px);
  color: #fff;
}
footer a {
  color: #eee;
}

.code {
  font-family: monospace;
  background-color: #444;
  color: #fff;
  margin: auto;
  border: 1px solid #111;
  margin-bottom: 10px;
  width: 400px;
  font-size: 12px;
  border-radius: 1px;
  line-height: 1.5;
  overflow: scroll;
}
.code pre {
  padding: 8px;
}


/* Widgets */
.plw-hidden {
  display: none !important;
}
.pointslocal-widget {

  margin: auto;
  border: 1px solid #C3CDE6;
  border-radius: 1px;
}
.pointslocal-widget-rail {
  width: 320px;
}
.plw-item {
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #C3CDE6;
  display: flex;
  flex-direction: row;
}

.plw-row {
  display: flex;
  flex-direction: row;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  width: 100%;
justify-content: flex-start;
position: relative;
}
.plw-row--center {
  align-items: center;
}
.plw-row-reverse {
   flex-direction: row-reverse;
}
.plw-cell--12-col {
      width: calc(100% - 16px);
}
.plw-cell--11-col {
  width: calc(91.6666666667% - 16px);
}
.plw-cell--10-col {
  width: calc(83.3333333333% - 16px);
}
.plw-cell--9-col {
    width: calc(75% - 16px);
}
.plw-cell--8-col {
    width: calc(66.6666666667% - 16px);
}
.plw-cell--7-col {
  width: calc(58.3333333333% - 16px);
}
.plw-cell--6-col {
      width: calc(50% - 16px);
}
.plw-cell--5-col {
    width: calc(41.6666666667% - 16px);
}
.plw-cell--4-col {
width: calc(33.3333333333% - 16px);
}
.plw-cell--3-col {
    width: calc(25% - 16px);
}
.plw-cell--2-col {
      width: calc(16.6666666667% - 16px);
}
.plw-cell--1-col {
  width: calc(8.3333333333% - 16px);
}
.plw-cell {
  margin: 8px;

}
.plw-cell--hidden {
  display: none;
}


.plw-cell-item {
  position: relative;
}
.plw-ribbon-container {
  z-index: 9999;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  background-color: rgba(255,255,255,.8);
  padding: 4px;
}
.plw-ribbon {
  background-color: rgba(250,180,80,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-ribbon.pick {
  background-color: rgba(80,180,250,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-search {
  background-color: #eee;

}
.plw-pseudo-drop, .plw-textbox, .plw-pseudo-drop-options, .plw-button, .plw-pseudo-drop-inner {
  outline: none;
  border: 1px solid rgba(0,0,0,.5);
  padding: 4px;
  display: inline-block;
  border-radius: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
.plw-pseudo-drop-inner, .plw-button {
  padding-left: 12px;
  padding-right: 12px;
}
.plw-pseudo-drop {
  padding: 0px;
  position: relative;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-weight: bold;
}
.plw-pseudo-drop-inner {
  border: none;


}
.plw-pseudo-drop i {
  line-height: 13px;
  margin-left: 5px;
  vertical-align: bottom;
  display: inline-block;
  transition: 100ms all ease-in;
}
.plw-pseudo-drop-inner.active {
  background-color: #fff;
}
.plw-pseudo-drop-inner.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.plw-pseudo-drop:hover {
  background-color: #adb6cc;
}
.plw-pseudo-drop-inner.active + .plw-pseudo-drop-options {
  display: block;
}
.plw-pseudo-drop-options {
  cursor: default;
  display: none;
  border-top: none;
  position: absolute;
  padding: 0px;
  top: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,.98);
  left: -1px;
  width: 200%;
}
.plw-pseudo-drop-options ul {
  max-height: 200px;
  overflow-y: scroll;
}
.plw-pseudo-drop-options li {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid #eee;
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
}
.plw-pseudo-drop-options li:hover {
  background-color: #eee;
}
.plw-pseudo-drop-options li i {

  vertical-align: middle;
}

.plw-textbox {
  text-transform: none;
  width: 200px;
}
.plw-button {
  background-color: #000;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  transition: 200ms all ease-in;

}
.plw-button:hover {
  background-color: #333;
}
.plw-item-card {
  position: absolute;
  background-color: rgba(20,20,20,.8);
  color: #fff;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: calc(100% - 20px);
}
.plw-item .plw-item-title {
  font-family: 'Lato';
  font-weight: 800;
  font-size: 20px;
}
.plw-item-card-mini {
  font-size: 12px;  
}
.plw-item-card-mini .plw-item-title {
  font-size: 16px;
  font-weight: 400;
}
.plw-item-card .plw-item-title {
  color: #fff !important;
}
.plw-item a.plw-item-title {
  color: #333;
}
.plw-cell {
  position: relative;

}
.plw-cell .plw-item-card {
  bottom: 16px;
}
.plw-cell img {
  max-width: 100%;
}
.plw-item-meta {
  font-size: 12px;
}


.plw-gp-scoreboard {
  border: 1px solid #333;
}
.plw-gp-scoreboard-game {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}
.plw-gp-header {
  font-weight:bold;
}
.plw-gp-date {
  font-size: 12px;
}

/* jquery ui */

.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-calendar td {
text-align: center;
}
.ui-datepicker-calendar th {
  font-size: 12px;
  padding: 4px;
}
.ui-datepicker-calendar td a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #eee;
  font-size: 12px;
}
.ui-datepicker-calendar td a:hover {
  background-color: #eee;
}
.ui-datepicker-header {
  background-color: #ccc;
  padding: 8px; 
}
.ui-datepicker-prev, .ui-datepicker-next {
  font-size: 0px;
}
.ui-datepicker-prev, .ui-state-hover .ui-datepicker-prev {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgc3R5bGU9ImZpbGw6ICNmZmZmZmYiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQyNyAzMDFsLTUzMSA1MzEgNTMxIDUzMXExOSAxOSAxOSA0NXQtMTkgNDVsLTE2NiAxNjZxLTE5IDE5LTQ1IDE5dC00NS0xOWwtNzQyLTc0MnEtMTktMTktMTktNDV0MTktNDVsNzQyLTc0MnExOS0xOSA0NS0xOXQ0NSAxOWwxNjYgMTY2cTE5IDE5IDE5IDQ1dC0xOSA0NXoiLz48L3N2Zz4=) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.ui-datepicker-next, .ui-state-hover .ui-datepicker-next {
  float: right;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgc3R5bGU9ImZpbGw6ICNmZmZmZmYiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTM2MyA4NzdsLTc0MiA3NDJxLTE5IDE5LTQ1IDE5dC00NS0xOWwtMTY2LTE2NnEtMTktMTktMTktNDV0MTktNDVsNTMxLTUzMS01MzEtNTMxcS0xOS0xOS0xOS00NXQxOS00NWwxNjYtMTY2cTE5LTE5IDQ1LTE5dDQ1IDE5bDc0MiA3NDJxMTkgMTkgMTkgNDV0LTE5IDQ1eiIvPjwvc3ZnPg==) !important;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

@media (max-width: 479px) {
  #header_wrap, #footer_wrap, #jumbotron_wrap { 
    padding: 20px;
    font-size: 16px;
  }
  header.inner, #main_content_wrap, footer.inner, .jumbotron, .code {
    width: 100%;
    margin: auto;
  }
  .plw-cell--4-col-phone {
    width: calc(100% - 16px);
  }
  .plw-cell--3-col-phone {
    width: calc(75% - 16px);
  }
  .plw-cell--2-col-phone {
    width: calc(50% - 16px);
  }
  .plw-cell--1-col-phone {
    width: calc(25% - 16px);
  }
  .plw-cell--hidden-phone, .plw--hidden-phone {
    display: none;
  }
  .plw-ribbon-container {
    bottom: 0px;
    top: auto;
  }
}