/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header_wrap, #footer_wrap {
  background-color: #292c38;
  padding: 40px;
  color: #eee;
}

header.inner, #main_content_wrap, footer.inner, .jumbotron {
  width: 800px;
  margin: auto;
}

#jumbotron_wrap {
  background-color: #363b48;
  padding: 40px;
  color: #eee;
}

#footer_wrap {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  background-color: #363b48;
  border-top: 1px solid rgba(255,255,255,.1);
  width: calc(100% - 20px);
  color: #fff;
}
footer a {
  color: #eee;
}

.code {
  font-family: monospace;
  background-color: #444;
  color: #fff;
  margin: auto;
  border: 1px solid #111;
  margin-bottom: 10px;
  width: 400px;
  font-size: 12px;
  border-radius: 1px;
  line-height: 1.5;
}
.code pre {
  padding: 8px;
}


/* Widgets */
.plw-hidden {
  display: none !important;
}
.pointslocal-widget {

  margin: auto;
  border: 1px solid #C3CDE6;
  border-radius: 1px;
}
.pointslocal-widget-rail {
  width: 320px;
}
.plw-item {
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #C3CDE6;
  display: flex;
  flex-direction: row;
}
.plw-ribbon-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  background-color: rgba(255,255,255,.8);
  padding: 4px;
}
.plw-ribbon {
  background-color: rgba(250,180,80,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-ribbon.pick {
  background-color: rgba(80,180,250,.9);
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 4px;
  text-shadow: 0px 0px 1px rgba(0,0,0,.3);
}
.plw-search {
  background-color: #eee;

}
.plw-pseudo-drop, .plw-textbox, .plw-pseudo-drop-options, .plw-button, .plw-pseudo-drop-inner {
  outline: none;
  border: 1px solid rgba(0,0,0,.5);
  padding: 4px;
  display: inline-block;
  border-radius: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
.plw-pseudo-drop-inner, .plw-button {
  padding-left: 12px;
  padding-right: 12px;
}
.plw-pseudo-drop {
  padding: 0px;
  position: relative;
  transition: all 200ms ease-in;
  cursor: pointer;
  font-weight: bold;
}
.plw-pseudo-drop-inner {
  border: none;


}
.plw-pseudo-drop i {
  line-height: 13px;
  margin-left: 5px;
  vertical-align: bottom;
  display: inline-block;
  transition: 100ms all ease-in;
}
.plw-pseudo-drop-inner.active {
  background-color: #fff;
}
.plw-pseudo-drop-inner.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.plw-pseudo-drop:hover {
  background-color: #adb6cc;
}
.plw-pseudo-drop-inner.active + .plw-pseudo-drop-options {
  display: block;
}
.plw-pseudo-drop-options {
  cursor: default;
  display: none;
  border-top: none;
  position: absolute;
  padding: 0px;
  top: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,.98);
  left: -1px;
  width: 200%;
}
.plw-pseudo-drop-options li {
  padding: 4px;
  border-bottom: 1px solid #eee;
  text-transform: none;
  font-weight: normal;
}
.plw-pseudo-drop-options li i {

  vertical-align: middle;
}

.plw-textbox {
  text-transform: none;
  width: 200px;
}
.plw-button {
  background-color: #000;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  transition: 200ms all ease-in;

}
.plw-button:hover {
  background-color: #333;
}
.plw-item-card {
  position: absolute;
  background-color: rgba(20,20,20,.8);
  color: #fff;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: calc(100% - 20px);
}
.plw-item .plw-item-title {
  font-family: 'Lato';
  font-weight: 800;
  font-size: 20px;
}
.plw-item-card .plw-item-title {
  color: #fff !important;
}
.plw-item a.plw-item-title {
  color: #333;
}
.plw-cell {
  padding: 8px;
}
.plw-item-meta {
  font-size: 12px;
}