/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header_wrap, #footer_wrap {
  background-color: #292c38;
  padding: 40px;
  color: #eee;
}

header.inner, #main_content_wrap, footer.inner, .jumbotron {
  width: 800px;
  margin: auto;
}

#jumbotron_wrap {
  background-color: #363b48;
  padding: 40px;
  color: #eee;
}

#footer_wrap {
  position: fixed;
  bottom: 0px;
  padding: 10px;
  background-color: #363b48;
  border-top: 1px solid rgba(255,255,255,.1);
  width: calc(100% - 20px);
  color: #fff;
}
footer a {
  color: #eee;
}

.code {
  font-family: monospace;
  background-color: #444;
  color: #fff;
  margin: auto;
  border: 1px solid #111;
  margin-bottom: 10px;
  width: 400px;
  font-size: 12px;
  border-radius: 1px;
  line-height: 1.5;
}
.code pre {
  padding: 8px;
}


/* Widgets */
.widget {
  width: 400px;
  margin: auto;
  border: 1px solid #C3CDE6;
  border-radius: 1px;
}
.plw-item {
  position: relative;
  font-size: 15px;
  border-bottom: 1px solid #C3CDE6;
  display: flex;
  flex-direction: row;
}
.plw-item-card {
  position: absolute;
  background-color: rgba(20,20,20,.8);
  color: #fff;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: calc(100% - 20px);
}
.plw-item .plw-item-title {
  font-family: 'Lato';
  font-weight: 800;
  font-size: 20px;
}
.plw-item a.plw-item-title {
  color: #333;
}
.plw-cell {
  padding: 8px;
}
.plw-item-meta {
  font-size: 12px;
}