.pointslocal-widget {
    background-color: #fff;
    -webkit-box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    margin-bottom: 18px;
}
.plw-header {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: rgba(250,140,40,1);
    color: #fff;
    line-height: 30px;
    margin: 0;
    padding: 0 16px;
    font-size: 1.125rem;   
    margin-left: 16px;     
}
a.plw-item-title {
font-size: 14px;
    font-weight: bold;
    color: #000;
}
.plw-item-meta {
    color: #999;
}


.pointslocal-search-mini-chron .plw-header, .pointslocal-search-mini-mysanantonio .plw-header, .pointslocal-search-mini-timesunion .plw-header, .pointslocal-search-mini-beaumontenterprise .plw-header, .pointslocal-search-mini-ctpost .plw-header, .pointslocal-search-mini-stamfordadvocate .plw-header, .pointslocal-search-mini-greenwichtime .plw-header, .pointslocal-search-mini-newstimes .plw-header {
      text-transform: none !important;  
}


.pointslocal-search-mini-chron .plw-header {
    font-size: 18px;
    font-family: "ChunkFiveRegular", serif;
    text-transform: none;
    background-color: #ea4a12;
}
.pointslocal-search-mini-chron .plw-item-title {
    font-size: 14px;
    font-family: 'Roboto Bold';
}
.pointslocal-search-mini-chron .plw-metadata {
    font-size: 12px;
    font-family: 'Roboto Regular';
    color: #999;
}
.pointslocal-search-mini-mysanantonio .plw-metadata {
    font-size: 12px;
    font-family: 'SanchezBold';
}
.pointslocal-search-mini-mysanantonio .plw-header {
    font-size: 12px;
    font-family: 'SanchezBold';
}

.pointslocal-search-mini-sfgate .plw-header {

    font-family: "Euclid Bold", serif;

}


.pointslocal-search-mini-ctpost .plw-header, .pointslocal-search-mini-greenwichtime .plw-header, .pointslocal-search-mini-newstimes .plw-header, .pointslocal-search-mini-stamfordadvocate .plw-header, .pointslocal-search-mini-thehour .plw-header {
    font-size: 18px;
    font-family: "RobotoSlabBold";
}

.pointslocal-search-mini-ctpost .plw-header {
    background-color: #980000;
}
.pointslocal-search-mini-greenwichtime .plw-header {
    background-color: #43766a;
}
.pointslocal-search-mini-newstimes .plw-header {
    background-color: #1a5176;
}
.pointslocal-search-mini-stamfordadvocate .plw-header {
    background-color: #1f66a3;
}
.pointslocal-search-mini-thehour .plw-header {
    background-color: #2E5787;
}
.pointslocal-search-mini-ctpost .plw-item-title, .pointslocal-search-mini-greenwichtime .plw-item-title, .pointslocal-search-mini-newstimes .plw-item-title, .pointslocal-search-mini-thehour .plw-item-title, .pointslocal-search-mini-stamfordadvocate .plw-item-title {
    font-size: 14px;
    font-family: 'RobotoBold';
}
.pointslocal-search-mini-ctpost .plw-metadata, .pointslocal-search-mini-greenwichtime .plw-metadata, .pointslocal-search-mini-newstimes .plw-metadata, .pointslocal-search-mini-thehour .plw-metadata, .pointslocal-search-mini-stamfordadvocate .plw-metadata {
    font-size: 12px;
    font-family: 'Roboto Regular';
    color: #999;
}


.pointslocal-search-mini-timesunion .plw-header {
    font-size: 18px;
    font-family: "RobotoSlabBold";
    background-color: #08478d;
}
.pointslocal-search-mini-seattlepi .plw-header {
    font-size: 18px;
    font-family: "RobotoSlabBold";
    background-color: #3d8293;
}
.pointslocal-search-mini-timesunion .plw-item-title, .pointslocal-search-mini-seattlepi .plw-item-title {
    font-size: 14px;
    font-family: 'RobotoBold';
}
.pointslocal-search-mini-timesunion .plw-metadata, .pointslocal-search-mini-seattlepi .plw-metadata {
    font-size: 12px;
    font-family: 'Roboto Regular';
    color: #999;
}